@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap");

:root {
  --primary: #b6895b;
  --bg: #010101;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #715538;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  display: inline-block;
  color: #fff;
  margin: 0 1rem;
  font-size: 1.3rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  display: block;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 4rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  /* opacity: 0; */
  transition: 0.3s;
  margin-right: 2rem;
}

.navbar .search-form.active {
  transform: scaleY(1);
  /* opacity: 1; */
}

.navbar .search-form input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  color: var(--bg);
  margin-right: 1.3rem;
  font-size: 2rem;
  cursor: pointer;
  padding-top: 0.2rem;
}

/* Shopping cart section */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  background-color: white;
  padding: 0 1.5rem;
  color: var(--bg);
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.navbar .shopping-cart img {
  height: 6rem;
}

.shopping-cart .cart-item {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1.3;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart .remove-item:hover {
  color: var(--primary);
}

/* Hero section */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/header-bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 4%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--bg);
}

.hero .content p {
  font-size: 1.5rem;
  line-height: 1.3;
  margin-top: 1rem;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--bg);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  cursor: pointer;
}

.hero .content .cta:hover {
  filter: brightness(0.8);
}

/* About */
.about,
.menu,
.contact,
.products {
  padding: 9rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2,
.products h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span,
.products h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
  gap: 2rem;
}

.about .row .about-img {
  flex: 1 1 25rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.about .row .content h3 span {
  color: var(--primary);
}

.about .row .content p {
  font-size: 1.2rem;
  text-align: justify;
  margin-bottom: 0.8rem;
  font-weight: 200;
}

/* Menu section */
.menu h2 {
  margin-bottom: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu .text-menu {
  border: 2px dashed var(--primary);
  padding: 0.5rem 2rem;
  width: 100%;
  border-radius: 1rem;
}

.menu .text-menu .text-list {
  display: flex;
  justify-content: space-evenly;
}

.menu .text-menu .text-list span:nth-child(1) {
  font-weight: 700;
  color: var(--primary);
}
.menu .text-menu .text-list span:nth-child(2) {
  font-weight: 400;
}
.menu .text-menu .text-list span:nth-child(3) {
  font-weight: 400;
}
.menu .text-menu .text-list span:nth-child(4) {
  font-weight: 400;
}

.contact p,
.products p {
  text-align: center;
  max-width: 50rem;
  margin: auto;
  font-weight: 300;
  font-size: 1.1rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.5rem;
}

/* Products section */
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.products .product-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.products .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.products .product-icons a {
  color: white;
  width: 4rem;
  height: 4rem;
  border: 1px solid #666;
  border-radius: 50%;
  margin: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .product-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.products .product-img {
  padding: 1rem 0;
}

.products .product-img img {
  height: 25rem;
}

.products .product-content h3 {
  font-size: 2rem;
}

.products .product-stars {
  font-size: 1.7rem;
  padding: 0.8rem;
  color: var(--primary);
}

.products .product-stars .star-full {
  fill: var(--primary);
}

.products .product-price {
  font-size: 1.3rem;
  font-weight: 700;
}

.products .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}

/* Contact section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 3rem 2rem;
  text-align: center;
  box-sizing: border-box;
}

.contact .row form h3 {
  font-size: 1.8rem;
}

.contact .row form .input-group {
  display: flex;
  padding: 1rem;
  border: 1px solid #eee;
  margin: 1.3rem;
}

.contact .row form .input-group input {
  width: 100%;
  margin-left: 2rem;
  background: none;
  color: #fff;
  font-size: 1.4rem;
}

.contact .row form .btn {
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
  background-color: var(--primary);
}

.contact .row form .btn:hover {
  filter: brightness(0.8);
}

/* footer */
footer {
  background-color: var(--primary);
  padding: 1rem 0 2rem;
  text-align: center;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin-left: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  font-weight: 700;
  color: var(--bg);
}

/* Modal Box */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  position: relative;
  width: 80%;
  margin: 14% auto;
  border: 2px solid #666;
  background-color: #fefefe;
  color: var(--bg);
  padding: 1.2rem;
  animation: animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
  from {
    top: -100%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-modal {
  color: var(--bg);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-container .close-modal:hover {
  color: red;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 19rem;
  margin-right: 2rem;
}

.modal-content h3 {
  font-size: 1.7rem;
  color: var(--bg);
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  background-color: var(--primary);
  width: 12rem;
  color: white;
  padding: 1rem 1.6rem;
  margin-top: 1rem;
}

.modal-content a:hover {
  filter: brightness(0.8);
}

/* Responsive */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .about .row .content h3 {
    font-size: 1.5rem;
  }

  .menu .text-menu {
    width: 80%;
  }

  .navbar .navbar-nav a {
    font-size: 1.3rem;
    margin: 0 0.5rem;
  }
  .navbar .navbar-extra a {
    margin: 0 0.2rem;
  }
}

/* Tablet */
@media (max-width: 778px) {
  html {
    font-size: 62%;
  }
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 1.5rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }
  .about .row .content h3 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.3rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 3rem;
  }

  .menu .text-menu {
    width: 7 0%;
  }

  .navbar .search-form {
    width: 80%;
  }

  .modal-content {
    flex-wrap: wrap;
  }

  .modal-content a {
    width: 25%;
    padding: auto;
  }

  .modal-container {
    margin: 20% auto;
  }

  .navbar .navbar-extra a {
    margin: 0 1.5rem;
  }
}

/* Mobile */
@media (max-width: 500px) {
  html {
    font-size: 55%;
  }

  .navbar .search-form {
    width: 80%;
  }

  .modal-container {
    margin: 50% auto;
  }

  .modal-content a {
    width: 38%;
    padding: 1rem;
  }

  .modal-content span {
    padding: 0.5rem 0;
  }
}
